
@{
    Layout = null;
}

<footer class="page-footer footer footer-static footer-dark gradient-45deg-light-blue-cyan gradient-shadow navbar-border navbar-shadow">
    <div class="footer-copyright">
        <div class="container"><span>&copy; 2020 
            <a href="http://www.earge.com.tr" target="_blank">EARGE</a> All rights reserved.
             </span><span class="right hide-on-small-only">Design and Developed by <a href="https://earge.com.tr/">EARGE</a></span></div>
    </div>
</footer>

